@font-face {
    font-family: 'Inter';
    src: url('/fonts/Montserrat/Inter-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Montserrat/Inter-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}
