@mixin container-size {
    width: 350px;
    height: 100vh;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include max-screen($phone-max-width) {
        width: 100vw;
        padding: 0px 10px;
    }
}

@mixin logo-size {
    height: 300px;

    @include max-screen($phone-max-width) {
        height: 200px;
    }
}
