$root-font-family: 'Inter', sans-serif !default;
$root-font-size: 16px;

$color-green: #00BF6D;
$color-yellow-green: #98D730;
$color-dark-white: #EDEDEF;
$color-white: #fff;
$color-orange: #f5a841;
$color-black: #1D1D35;
$color-dark-gray: #4A4A5D;
$color-gray: #6E6E7E;
$color-light-gray: #B7B7BE;
$color-red: #f54141;

$below-phone-min-width: 319px;
$phone-min-width: 320px;
$phone-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-max-width: 1440px;
