.menu {
    position: fixed;
    bottom: 0;
    width: 350px;

    box-shadow: rgb(0 0 0 / 5%) 0 -16px 25px -7px;

    padding: 25px;

    background-color: $color-white;

    @include max-screen($phone-max-width) {
        width: 100vw;
    }
}

.menu__links {
    display: flex;
    justify-content: space-between;
}

.menu__links-item {
    img {
        height: 24px;

        margin-bottom: 5px;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 0.75em;
        text-decoration: none;
        color: $color-light-gray;
    }
}

.menu__links-item--active {
    a {
        color: $color-black;
    }
}
